.orderDetailsPage {
    background-color: white;
}

.orderDetailsContainer>h1 {
    font-size: 2vmax;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: tomato;
    margin-bottom: 3vmax;
}

.orderDetailsContainer {
    padding: 5vmax;
    padding-bottom: 0%;
}

.orderDetailsContainer>p {
    font-size: 2vmax;
}

.orderDetailsContainerBox,
.orderDetailsCartItemsContainer {
    margin: 2vmax;
}

.orderDetailsContainerBox>div {
    display: flex;
    margin: 1vmax 0;
}

.orderDetailsContainerBox>div>p {
    font-size: 1vmax;
    color: black;
}

.orderDetailsContainerBox>div>span {
    margin: 0 1vmax;
    font-size: 1vmax;
    color: black;
    font-weight: bold;
}

.orderDetailsCartItems>p {
    font-size: 2vmax;
}

.orderDetailsCartItems {
    padding: 2vmax 5vmax;
    border-top: 1px solid black;
}

.orderDetailsCartItemsContainer>div {
    display: flex;
    font-size: 1.2vmax;
    align-items: center;
    margin: 2vmax 0;
}

.orderDetailsCartItemsContainer>div>img {
    width: 3vmax;
}

.orderDetailsCartItemsContainer>div>a {
    color: rgb(99, 33, 33);
    margin: 0 2vmax;
    width: 60%;
    text-decoration: none;
}

.orderDetailsCartItemsContainer>div>span {
    font-size: 1.2vmax;
    color: black;
}

@media screen and (max-width: 600px) {
    .orderDetailsContainer>h1 {
        font-size: 3vmax;
    }

    .orderDetailsContainer>p {
        font-size: 2vmax;
    }

    .orderDetailsContainerBox>div {
        margin: 6vw 0;
    }

    .orderDetailsContainerBox>div>p {
        font-size: 1.5vmax;
    }

    .orderDetailsContainerBox>div>span {
        font-size: 1.5vmax;
    }

    .orderDetailsCartItems>p {
        font-size: 2vmax;
    }

    .orderDetailsCartItemsContainer>div {
        font-size: 2vmax;
        margin: 4vw 0;
    }

    .orderDetailsCartItemsContainer>div>img {
        width: 10vw;
    }

    .orderDetailsCartItemsContainer>div>a {
        margin: 2vw;
        width: 30%;
    }

    .orderDetailsCartItemsContainer>div>span {
        font-size: 2vmax;
    }
}